In [1]:
!pip install optuna

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting optuna
  Downloading optuna-2.10.1-py3-none-any.whl (308 kB)
     |████████████████████████████████| 308 kB 5.1 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.21.6)
Collecting cmaes>=0.8.2
  Downloading cmaes-0.8.2-py3-none-any.whl (15 kB)
Collecting alembic
  Downloading alembic-1.8.0-py3-none-any.whl (209 kB)
     |████████████████████████████████| 209 kB 51.1 MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Collecting cliff
  Downloading cliff-3.10.1-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 9.6 MB/s
Collecting colorlog
  Downloading colorlog-6.6.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.64.0)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.36)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.9)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.11.4)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.7.1)
Collecting Mako
  Downloading Mako-1.2.0-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 6.8 MB/s
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.9.0-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 61.3 MB/s
Collecting autopage>=0.4.0
  Downloading autopage-0.5.1-py3-none-any.whl (29 kB)
Collecting cmd2>=1.0.0
  Downloading cmd2-2.4.1-py3-none-any.whl (146 kB)
     |████████████████████████████████| 146 kB 44.3 MB/s
Collecting stevedore>=2.0.1
  Downloading stevedore-3.5.0-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 5.1 MB/s
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.3.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (4.2.0)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.4.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11137 sha256=34dfd041df5cb1d7de7156683fe82c6aaf3cdcae4b13d73545d871b4ca8c8ddb
  Stored in directory: /root/.cache/pip/wheels/9f/18/84/8f69f8b08169c7bae2dde6bd7daf0c19fca8c8e500ee620a28
Successfully built pyperclip
Installing collected packages: pyperclip, pbr, stevedore, Mako, cmd2, autopage, colorlog, cmaes, cliff, alembic, optuna
Successfully installed Mako-1.2.0 alembic-1.8.0 autopage-0.5.1 cliff-3.10.1 cmaes-0.8.2 cmd2-2.4.1 colorlog-6.6.0 optuna-2.10.1 pbr-5.9.0 pyperclip-1.8.2 stevedore-3.5.0

In [2]:
# 데이터분석 4종 세트
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 모델들, 성능 평가
# (저는 일반적으로 정형데이터로 머신러닝 분석할 때는 이 2개 모델은 그냥 돌려봅니다. 특히 RF가 테스트하기 좋습니다.)
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from lightgbm.sklearn import LGBMClassifier
from lightgbm.sklearn import LGBMRegressor

# 상관관계 분석, VIF : 다중공선성 제거
from statsmodels.stats.outliers_influence import variance_inflation_factor

# KFold(CV), partial : optuna를 사용하기 위함
from sklearn.model_selection import KFold
from functools import partial

import optuna

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
base_path='/content/drive/MyDrive/minipjt34/'

In [5]:
# 데이터를 불러옵니다.
train =pd.read_csv(base_path + 'train_V2.csv')
test = pd.read_csv(base_path + 'test_V2.csv')
submission = pd.read_csv(base_path + 'sample_submission_V2.csv')

In [6]:
temp1=train.copy()

In [9]:
#데이터크기축소
temp1 = temp1.sample(frac=0.05, random_state=42, replace=False)

In [10]:
len(temp1)

22235

In [11]:
# 이벤트 제거
temp2 = temp2.drop(temp2[temp2.matchType.str.contains("flare")].index, axis=0)
temp2 = temp2.drop(temp2[temp2.matchType.str.contains("crash")].index, axis=0)
temp2

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
4289863,ab772932dc284b,6f0931849c42fc,7558d7990b8795,0,0,161.3,3,2,0,7,...,1,0.0,0,0.0,0,0,565.3,2,1660,0.3929
1660760,eae2ba6cc7de4c,a8ddca0c7e8f74,0cf8e1dc70559e,0,2,100.0,0,0,1,24,...,0,450.7,0,0.0,0,0,1607.0,6,1593,0.7083
363725,aa5867db86503b,76d57fc80f70f2,fc69844a437eae,3,2,289.9,2,0,9,14,...,1,3950.0,0,0.0,0,0,2131.0,5,0,0.8148
1073463,9ec6c0ee672370,78935f8da2a64d,8a6b99c6d832f1,1,0,179.5,1,0,0,69,...,1,0.0,0,0.0,0,0,837.6,4,0,0.3333
414963,59f1f08405cf55,45bd8c2766b800,d39627df3d2674,0,0,114.8,0,0,0,71,...,0,0.0,0,0.0,0,0,187.4,2,1526,0.3214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2381585,5b4159c4065c3e,8f1920af94375d,44366e01c3cece,0,2,0.0,0,0,6,56,...,0,972.3,0,0.0,0,0,1145.0,2,0,0.6000
3010658,f402fa09f3f959,825c60ecc6bf1b,ef048c066bf2f5,0,0,416.0,3,0,0,8,...,0,0.0,0,0.0,0,0,2717.0,6,1483,0.9200
298060,51628215e297ac,93a24c14ae4457,61a07c655772b3,0,0,111.4,1,0,4,45,...,0,5139.0,0,0.0,0,0,3211.0,5,1565,0.7407
3190576,e60f2d43169e35,615e603e029639,7ad802e3c51d18,0,1,0.0,0,0,5,54,...,0,1940.0,0,0.0,1,1,2136.0,5,0,0.4800
2771456,928826b4a72df1,86b4832536102d,311e7bb91684a0,1,1,268.7,1,0,2,18,...,2,0.0,0,0.0,0,0,3333.0,3,1589,0.9615

In [12]:
temp2 = temp1.iloc[:,3:]
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
encoder.fit(temp2['matchType'])
encoder.fit(test["matchType"])
temp2['matchType'] = encoder.transform(temp2['matchType'])
test['matchType'] = encoder.transform(test['matchType'])

In [13]:
trainX = temp2.drop(['winPlacePerc','killPlace'], axis=1)
testX = test.drop(columns='killPlace').iloc[:,3:]
y = temp2.winPlacePerc
print(trainX.shape, testX.shape, y.shape)

(22235, 24) (1934174, 24) (22235,)

In [14]:
#vif 알아보기

vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(
    trainX.values, i) for i in range(trainX.shape[1])]
vif["features"] = trainX.columns
vif

     VIF Factor         features
0      1.478254          assists
1      3.307610           boosts
2      9.830654      damageDealt
3      3.994108            DBNOs
4      2.140526    headshotKills
5      1.868521            heals
6     54.947071       killPoints
7     11.358821            kills
8      4.803585      killStreaks
9      2.072788      longestKill
10    40.610823    matchDuration
11     5.360412        matchType
12  1210.352645         maxPlace
13  1183.756103        numGroups
14    30.141050       rankPoints
15     1.290300          revives
16     1.588012     rideDistance
17     1.028750        roadKills
18     1.056203     swimDistance
19     1.052310        teamKills
20     1.048340  vehicleDestroys
21     4.319012     walkDistance
22     4.818412  weaponsAcquired
23    76.547866        winPoints

In [15]:
from statsmodels.regression.linear_model import OLS

In [16]:
import statsmodels.api as sm;

In [17]:
feature_1 = sm.add_constant(trainX)
model_PU = sm.OLS(y, feature_1)
result_PU = model_PU.fit()
print(result_PU.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           winPlacePerc   R-squared:                       0.753
Model:                            OLS   Adj. R-squared:                  0.752
Method:                 Least Squares   F-statistic:                     2816.
Date:                Mon, 13 Jun 2022   Prob (F-statistic):               0.00
Time:                        13:52:24   Log-Likelihood:                 10170.
No. Observations:               22235   AIC:                        -2.029e+04
Df Residuals:                   22210   BIC:                        -2.009e+04
Df Model:                          24
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.2118      0.021     10.029      0.000       0.170       0.253
assists             0.0157      0.002      7.906      0.000       0.012       0.020
boosts              0.0159      0.001     17.414      0.000       0.014       0.018
damageDealt         0.0001   1.51e-05      7.282      0.000    8.03e-05       0.000
DBNOs              -0.0077      0.002     -5.014      0.000      -0.011      -0.005
headshotKills      -0.0014      0.002     -0.572      0.567      -0.006       0.003
heals               0.0019      0.000      4.157      0.000       0.001       0.003
killPoints      -3.489e-05   9.55e-06     -3.653      0.000   -5.36e-05   -1.62e-05
kills              -0.0090      0.002     -4.657      0.000      -0.013      -0.005
killStreaks         0.0293      0.003     11.624      0.000       0.024       0.034
longestKill         0.0001   2.61e-05      3.994      0.000    5.31e-05       0.000
matchDuration      -0.0002   4.35e-06    -47.345      0.000      -0.000      -0.000
matchType          -0.0019      0.000     -9.597      0.000      -0.002      -0.002
maxPlace           -0.0018      0.001     -2.506      0.012      -0.003      -0.000
numGroups           0.0032      0.001      4.410      0.000       0.002       0.005
rankPoints          0.0002   1.33e-05     11.680      0.000       0.000       0.000
revives             0.0189      0.002      8.189      0.000       0.014       0.023
rideDistance     2.477e-05      8e-07     30.953      0.000    2.32e-05    2.63e-05
roadKills           0.0278      0.013      2.095      0.036       0.002       0.054
swimDistance        0.0001   3.25e-05      3.950      0.000    6.46e-05       0.000
teamKills          -0.0199      0.006     -3.269      0.001      -0.032      -0.008
vehicleDestroys    -0.0063      0.011     -0.584      0.559      -0.027       0.015
walkDistance        0.0002   1.29e-06    120.206      0.000       0.000       0.000
weaponsAcquired     0.0218      0.001     42.651      0.000       0.021       0.023
winPoints           0.0002   1.61e-05     11.193      0.000       0.000       0.000
==============================================================================
Omnibus:                     2769.153   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10880.984
Skew:                           0.583   Prob(JB):                         0.00
Kurtosis:                       6.223   Cond. No.                     5.29e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.29e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [27]:
trainX.columns

Index(['assists', 'boosts', 'damageDealt', 'DBNOs', 'headshotKills', 'heals',
       'killPoints', 'kills', 'killStreaks', 'longestKill', 'matchDuration',
       'matchType', 'maxPlace', 'numGroups', 'rankPoints', 'revives',
       'rideDistance', 'roadKills', 'swimDistance', 'teamKills',
       'vehicleDestroys', 'walkDistance', 'weaponsAcquired', 'winPoints'],
      dtype='object')

In [ ]:
# vif 가 높은 컬럼 maxPlace 를 삭제함

In [46]:
cols = ['assists', 'boosts', 'damageDealt', 'DBNOs', 'headshotKills', 'heals',
       'killPoints', 'kills', 'killStreaks', 'longestKill', 'matchDuration',
       'matchType', 'numGroups', 'rankPoints', 'revives',
       'rideDistance', 'roadKills', 'swimDistance', 'teamKills',
       'vehicleDestroys', 'walkDistance', 'weaponsAcquired', 'winPoints']
feature_1 = sm.add_constant(trainX[cols])
model_PU2 = sm.OLS(y, feature_1[cols])
result_PU2 = model_PU.fit()
print(result_PU2.summary2())

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

                   Results: Ordinary least squares
=====================================================================
Model:              OLS              Adj. R-squared:     0.762
Dependent Variable: winPlacePerc     AIC:                -585790.9598
Date:               2022-06-13 04:11 BIC:                -585519.4111
No. Observations:   605937           Log-Likelihood:     2.9292e+05
Df Model:           23               F-statistic:        8.452e+04
Df Residuals:       605913           Prob (F-statistic): 0.00
R-squared:          0.762            Scale:              0.022267
---------------------------------------------------------------------
                     Coef.  Std.Err.     t     P>|t|   [0.025  0.975]
---------------------------------------------------------------------
const                0.2405   0.0040   60.4501 0.0000  0.2327  0.2483
assists              0.0155   0.0004   40.8696 0.0000  0.0147  0.0162
boosts               0.0138   0.0002   79.3586 0.0000  0.0134  0.0141
damageDealt          0.0001   0.0000   46.6478 0.0000  0.0001  0.0001
DBNOs               -0.0133   0.0003  -44.3966 0.0000 -0.0138 -0.0127
headshotKills       -0.0029   0.0004   -6.4624 0.0000 -0.0038 -0.0020
heals                0.0026   0.0001   29.7605 0.0000  0.0024  0.0028
killPoints          -0.0001   0.0000  -31.1200 0.0000 -0.0001 -0.0001
kills               -0.0041   0.0004  -11.2193 0.0000 -0.0049 -0.0034
killStreaks          0.0248   0.0005   51.5110 0.0000  0.0239  0.0257
longestKill          0.0001   0.0000   19.0382 0.0000  0.0001  0.0001
matchDuration       -0.0002   0.0000 -256.2154 0.0000 -0.0002 -0.0002
matchType           -0.0021   0.0000  -55.7431 0.0000 -0.0022 -0.0020
numGroups            0.0012   0.0000  123.0774 0.0000  0.0011  0.0012
rankPoints           0.0001   0.0000   57.1956 0.0000  0.0001  0.0001
revives              0.0185   0.0004   41.8146 0.0000  0.0177  0.0194
rideDistance         0.0000   0.0000  160.8385 0.0000  0.0000  0.0000
roadKills           -0.0042   0.0031   -1.3306 0.1833 -0.0103  0.0020
swimDistance         0.0001   0.0000   23.3453 0.0000  0.0001  0.0002
teamKills            0.0025   0.0012    2.1436 0.0321  0.0002  0.0048
vehicleDestroys     -0.0114   0.0022   -5.3080 0.0000 -0.0156 -0.0072
walkDistance         0.0002   0.0000  621.9384 0.0000  0.0002  0.0002
weaponsAcquired      0.0256   0.0001  245.4117 0.0000  0.0254  0.0258
winPoints            0.0002   0.0000   62.6407 0.0000  0.0002  0.0002
---------------------------------------------------------------------
Omnibus:             85747.156      Durbin-Watson:         1.998
Prob(Omnibus):       0.000          Jarque-Bera (JB):      338724.219
Skew:                0.669          Prob(JB):              0.000
Kurtosis:            6.409          Condition No.:         52832
=====================================================================
* The condition number is large (5e+04). This might indicate
strong multicollinearity or other numerical problems.

In [ ]:
trainX.drop(columns=["maxPlace"], inplace=True)

In [48]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(
    trainX.values, i) for i in range(trainX.shape[1])]
vif["features"] = trainX.columns
vif

    VIF Factor         features
0     1.468626          assists
1     3.375589           boosts
2     9.479082      damageDealt
3     4.072519            DBNOs
4     2.085517    headshotKills
5     1.875379            heals
6    54.722543       killPoints
7    11.296902            kills
8     4.989915      killStreaks
9     2.109336      longestKill
10   42.356455    matchDuration
11    5.456742        matchType
12    5.972234        numGroups
13   31.697609       rankPoints
14    1.311364          revives
15    1.559786     rideDistance
16    1.019043        roadKills
17    1.055666     swimDistance
18    1.049028        teamKills
19    1.042108  vehicleDestroys
20    4.427040     walkDistance
21    5.466549  weaponsAcquired
22   77.476663        winPoints

In [40]:
vif.sort_values(by="VIF Factor", ascending=False)

    VIF Factor         features
22   77.476663        winPoints
6    54.722543       killPoints
10   42.356455    matchDuration
13   31.697609       rankPoints
7    11.296902            kills
2     9.479082      damageDealt
12    5.972234        numGroups
21    5.466549  weaponsAcquired
11    5.456742        matchType
8     4.989915      killStreaks
20    4.427040     walkDistance
3     4.072519            DBNOs
1     3.375589           boosts
9     2.109336      longestKill
4     2.085517    headshotKills
5     1.875379            heals
15    1.559786     rideDistance
0     1.468626          assists
14    1.311364          revives
17    1.055666     swimDistance
18    1.049028        teamKills
19    1.042108  vehicleDestroys
16    1.019043        roadKills

In [56]:
#p score 에서 무의미한 데이터 제거 roadKills

trainX.drop("kills", axis=1, inplace=True)

In [57]:
vif = pd.DataFrame()
vif["VIF Factor"] = [variance_inflation_factor(
    trainX.values, i) for i in range(trainX.shape[1])]
vif["features"] = trainX.columns
vif

    VIF Factor         features
0     1.452314          assists
1     3.286909           boosts
2     6.567304      damageDealt
3     4.005235            DBNOs
4     1.891919    headshotKills
5     1.870847            heals
6     5.932417       killPoints
7     3.697566      killStreaks
8     2.033109      longestKill
9     5.354810        matchType
10    5.433136        numGroups
11    8.589388       rankPoints
12    1.308994          revives
13    1.398906     rideDistance
14    1.055197     swimDistance
15    1.047536        teamKills
16    1.040752  vehicleDestroys
17    4.401002     walkDistance
18    5.355230  weaponsAcquired

In [58]:
vif.sort_values(by="VIF Factor", ascending=False)

    VIF Factor         features
11    8.589388       rankPoints
2     6.567304      damageDealt
6     5.932417       killPoints
10    5.433136        numGroups
18    5.355230  weaponsAcquired
9     5.354810        matchType
17    4.401002     walkDistance
3     4.005235            DBNOs
7     3.697566      killStreaks
1     3.286909           boosts
8     2.033109      longestKill
4     1.891919    headshotKills
5     1.870847            heals
0     1.452314          assists
13    1.398906     rideDistance
12    1.308994          revives
14    1.055197     swimDistance
15    1.047536        teamKills
16    1.040752  vehicleDestroys

In [62]:
trainX.columns

Index(['assists', 'boosts', 'damageDealt', 'DBNOs', 'headshotKills', 'heals',
       'killPoints', 'killStreaks', 'longestKill', 'matchType', 'numGroups',
       'rankPoints', 'revives', 'rideDistance', 'swimDistance', 'teamKills',
       'vehicleDestroys', 'walkDistance', 'weaponsAcquired'],
      dtype='object')

In [ ]:
Index(['assists', 'boosts', 'damageDealt', 'DBNOs', 'headshotKills', 'heals',
       'killPlace', 'killPoints', 'killStreaks', 'longestKill', 'matchType',
       'numGroups', 'revives', 'rideDistance', 'roadKills', 'swimDistance',
       'teamKills', 'vehicleDestroys', 'walkDistance', 'weaponsAcquired'],
      dtype='object')

In [63]:
trainX

,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPoints,killStreaks,longestKill,matchType,numGroups,rankPoints,revives,rideDistance,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired
4289863,0,0,161.3,3,2,0,1607,3,41.54,15,29,-1,1,0.0,0.0,0,0,565.3,2
1660760,0,2,100.0,0,0,1,1700,1,64.25,13,97,-1,0,450.7,0.0,0,0,1607.0,6
363725,3,2,289.9,2,0,9,0,1,22.46,15,26,1456,1,3950.0,0.0,0,0,2131.0,5
1073463,1,0,179.5,1,0,0,0,0,0.00,15,25,1456,1,0.0,0.0,0,0,837.6,4
414963,0,0,114.8,0,0,0,1326,0,0.00,15,29,-1,0,0.0,0.0,0,0,187.4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2381585,0,2,0.0,0,0,6,0,0,0.00,15,26,1484,0,972.3,0.0,0,0,1145.0,2
3010658,0,0,416.0,3,0,0,1378,2,70.18,14,25,-1,0,0.0,0.0,0,0,2717.0,6
298060,0,0,111.4,1,0,4,1336,0,0.00,15,26,-1,0,5139.0,0.0,0,0,3211.0,5
3190576,0,1,0.0,0,0,5,0,0,0.00,14,26,1486,0,1940.0,0.0,1,1,2136.0,5
2771456,1,1,268.7,1,0,2,1464,1,58.33,14,27,-1,2,0.0,0.0,0,0,3333.0,3

In [66]:
testX=testX[['assists', 'boosts', 'damageDealt', 'DBNOs', 'headshotKills', 'heals',
       'killPoints', 'killStreaks', 'longestKill', 'matchType', 'numGroups',
       'rankPoints', 'revives', 'rideDistance', 'swimDistance', 'teamKills',
       'vehicleDestroys', 'walkDistance', 'weaponsAcquired']]

In [67]:
print(trainX.shape, testX.shape, y.shape)

(605937, 19) (1934174, 19) (605937,)