In [ ]:
import numpy as np

In [ ]:
#백준 10950번

In [ ]:
T=int(input())

for i in range(T):

    a, b=map(int, input().split())
    print(a+b)

In [ ]:
#백준 8393번

In [ ]:
n=int(input())
k=0
for i in range(1,n+1):
    k+=i
    
print(k)

In [ ]:
#백준 15552번

In [ ]:
import sys

In [ ]:
T=int(input())

for i in range(T):
    a, b=map(int,input().split())
    print(a+b)

In [ ]:
#백준 2741번, 2742번

In [ ]:
T=int(input())
for i in range(0,T):
    print(T-i)

In [ ]:
#백준 11021 번

In [ ]:
T=int(input())

for i in range(1,T+1):
    a,b=map(int,input().split())
    print(f"Case #{i}:", a+b)

In [ ]:
T=int(input())

for i in range(1,T+1):
    a,b=map(int,input().split())
    print(f"Case #{i}:", f'{a} + {b} =', a+b)

In [ ]:
#백준 10871번

In [ ]:
N,X=map(int,input().split())

n=map(int,input().split())

b=[]
for i in range(N) :
    a=next(n)
    b.append(a)

for i in b :
    if i<X :
        print(i,end=' ')

In [ ]:
N,X=map(int,input().split())

b=list(map(int,input().split()))

for i in range(N) :
    if b[i]<X :
        print(b[i],end=' ')

In [ ]:
# 백준 10952번

In [ ]:
while True :
    try : 
     a,b=map(int, input().split()) 
     if  0<a<10 and 0<b<10 :
        print(a+b)
    except : 
     break

In [11]:
print("Mary\\'s cosmetic")

Mary\'s cosmetic

In [14]:
print(round(3.141592,2))

3.14

In [26]:
print("%.2f"%  3.141592)

3.14

In [29]:
print("%.2f"% 3.1435354)

3.14

In [31]:
first, second=map(int,input().split())
print(first+second)

15

In [34]:
str=input()
num=int(input())
for i in range(num) :
    print(str)

hellow
hellow
hellow
hellow
hellow

In [60]:
f,s=map(int,input().split())

print('{0}/{1}={2:0.1f}'.format(f,s,f/s))
print('{0}+{1}={2: 0.1f}'.format(f,s,f+s))

5/4=1.2
5+4= 9.0

In [61]:
f,s=map(int,input().split())

print('{0}/{1}={2:0.1f}'.format(f,s,f/s))

5/7=0.7

In [67]:
code = "hellow\t hi\twoodi"

print(code)

hellow	 hi	woodi

In [69]:
a,b=map(int,input().split())
if a>b :
    print(a)
else :
    print(b)

5

In [71]:
a=input()
print(a[:2])

83

In [75]:
a=input()
b=list(a.split("-"))

print(b[1][0])

1

In [ ]:
2 3 6
2 4 8

In [96]:
for n in range(2,4) :
    print(f"--------{n}단--------")
    for i in range(1,10):
    
        print(f'{n} X {i} =','%.2d'%(n*i))

--------2단--------
2 X 1 = 02
2 X 2 = 04
2 X 3 = 06
2 X 4 = 08
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
--------3단--------
3 X 1 = 03
3 X 2 = 06
3 X 3 = 09
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

In [126]:
str = "Python in an interpreted high-level prigranin, Python, Python2, is good.  00660\n   "

In [130]:
str2="woodi"

In [140]:
q=str.split(" ")

In [142]:
print(q)

['Python', 'in', 'an', 'interpreted', 'high-level', 'prigranin,', 'Python,', 'Python2,', 'is', 'good.', '', '00660\n', '', '', '']

In [ ]:
for i in q:
    print(i)
    print(len(i))

In [147]:
len(q)

15

In [125]:
str.strip(" \n")

'00660'

In [105]:
str.replace("a", "two" )

'two mtwon goes into the room...'

In [107]:
print(str)

        00660
...

In [136]:
letters=input()

if letters.count("n")>0 :
    print("0")
else :
    print("-1")

-1

In [148]:
var1, var2 = 1 ,2

In [149]:
var1, var2

(1, 2)

In [150]:
var1, var2 = var2, var1

In [151]:
var1, var2

(2, 1)

In [153]:
word = {'enviroment' : ['환경',"X"], 'company':['회사',"O"], 'goverment':['정부, 정치','X'],'face':['얼굴','X']}

In [154]:
print(word)

{'enviroment': ['환경', 'X'], 'company': ['회사', 'O'], 'goverment': ['정부, 정치', 'X'], 'face': ['얼굴', 'X']}

In [155]:
type(word)

dict

In [173]:
done=input()
word[done][1]="O"

for i in word.keys() :
    if word[i][1] =="X" :
        print(i)

enviroment
face

In [171]:
word

{'enviroment': ['환경', 'X'],
 'company': ['회사', 'O'],
 'goverment': ['정부, 정치', 'X'],
 'face': ['얼굴', 'X']}

In [197]:
dict_all= {'enviroment': '환경', 'government': '정부, 정치'}
dict2 = { 'company': '회사', 'face': '얼굴'}
dict3 = {'apple':'사과'}

In [215]:
import pandas as pd
import numpy as np

In [209]:
for i, j in zip(dict3.keys(), dict3.values()) :
    dict_all[i]=j

In [210]:
dict_all

{'enviroment': '환경',
 'government': '정부, 정치',
 'company': '회사',
 'face': '얼굴',
 'apple': '사과'}

In [202]:
indel dict3["face"]

In [203]:
dict3

{'apple': '사과'}

In [196]:
dict_all[i]=

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [179]:
a.append("x")

In [180]:
a

['d', 'f', 'g', 'er', 'h', 'r', 'x']

In [181]:
a[0] = "p"

In [182]:
a

['p', 'f', 'g', 'er', 'h', 'r', 'x']

In [183]:
del a[3]

In [184]:
a

['p', 'f', 'g', 'h', 'r', 'x']

In [269]:
number_list=[5,1,2,2,3,3,4,5,5,6,7,8,9,9,10,10]
number_set = set(number_list)
print(number_set)

TypeError: argument of type 'NoneType' is not iterable

In [230]:
if i in number_list :
    print(i)

5

In [272]:
number_list=[5,1,2,2,3,3,4,5,5,6,7,8,9,9,10,10]

In [300]:
def set(x) :
    set1=[]
    for i in x :
        if i in set1:
            pass
        else :
          set1.append(i)
          set1
    set1.sort()
    return set1

In [298]:
x=[5,1,2,2,3,3,4,5,5,6,7,8,9,9,10,10]

In [299]:
    set1=[]
    for i in x :
        if i in set1:
            pass
        else :
          set1.append(i)
          set1
    set1.sort()
    print(set1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [301]:
set(number_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
import tensorflow as tf

In [5]:
tf.__version__

'2.8.2'

In [28]:
class node:
    def __init__(self, data,next=None) :
        
        self.data=data
        self.next=next

In [34]:
node1=node(1)
node2=node(2)
node1.next = node2

In [35]:
print(node2)

<__main__.node object at 0x00000188BD0DBF70>

In [10]:
class Node:
    def __init__(self, data,next=None) :
        
        self.data=data
        self.next=next
     
def add(data)   :
    node = head
    while node.next :
      node = node.next
    node.next = Node(data)

In [47]:
class Node:
    def __init__(self,data,next=None):
        self.data=data
        self.next=next
        
def add(data) :
    node=head
    while node.next :
        node=node.next
    node.next = Node(data)

In [48]:
node1=Node(1)
head = node1

In [49]:
for i in range(2,10):
    add(i)

In [50]:
node = head
while node.next:
    print(node.data)
    node=node.next
print(node.data)

1
2
3
4
5
6
7
8
9

In [51]:
node3=Node(1.5)

In [54]:
node = head
search= True
while search:
    if node.data==1:
            search=False
    else :
        node = node.next
node_next=node.next
node.next = node3
node3.next = node_next

In [55]:
node = head
while node.next :
    print(node.data)
    node = node.next
print(node.data)

1
1.5
2
3
4
5
6
7
8
9